/* ---- SOME BASIC STYLES ---- */
html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: white;
  background-color: black;
}

.sitecontainer {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* background-color: lightblue;
  opacity: 0.5; */
}

/* ---- HEADER SECTION ---- */
header {
  width: 100%;
}

.headercontainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.headercontainer img {
  height: 1.5rem;
  width: auto;
  display: inline-block;
  margin-left: 0.5rem;
}

.headercontainer span {
    margin-left: 1rem;
    margin-top: 0.66rem;
    margin-bottom: 0.66rem;
}

/* ---- BANNER SECTION ---- */
.containerbanner {
  width: 100%;
  height: 25rem;
  background: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.containerbannertextcontainer {
    width: 20rem;
    padding: 2rem 3rem;
    background-color: black;
}

.containerbanner span {
  font-size: 1rem;
  font-weight: bold;
}

.containerbanner h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.25rem;
}

/* ---- NAVIGATION SECTION  ---- */
.navcontainer {
  width: 100%;
  background-color: firebrick;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav span {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.defaultnavcontainer {
}

.mobilenavcontainer {
    display: none;
}

/* ---- CONTENT SECTION ---- */
.containercontent {
  width: 100%;
  background-color: white;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

/* ---- PRODUCT SECTION ---- */
.containerproductitems {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productitem {
  width: 30%;
  border: 4px solid black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.productitemimagecontainer {
  height: 9rem;
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productitemimagecontainer img {
  max-width: 9rem;
  display: block;
}

.productitem p {
  background-color: black;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}


.productitem.pen {
  /* just to identify */
}

.productitem.watch {
  /* just to identify */
}

.productitem.glasses {
  /* just to identify */
}


/* ---- LOCATION & OPENING SECTION ---- */
.containerinfoitems {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoitem {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.headertext {
  background-color: black;
  padding: 1rem 2rem;
}

.blacktext {
  color: black;
}

/* ---- FOOTER SECTION ---- */
footer {
  width: 100%;
}

.footercontainer {
  height: 5rem;
  display: flex;
  align-items: center;
}

/* ---- RESPONIVE MEDIA QUERIES ---- */
@media only screen and (max-width: 1024px) {
  .sitecontainer {
    /* max-width: 960px; */
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  /* ---- NAVIGATION ---- */
  .defaultnavcontainer {
    display: none;
  }

  .mobilenavcontainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  /* ---- PRODUCTS ---- */
  .productitem {
    width: 47%;
  }

  .productitem.glasses {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .sitecontainer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  /* ---- BANNER SECTION ---- */
  .containerbanner {
    width: 100%;
    height: 15rem;
    background: url("../images/moto.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .containerbannertextcontainer {
      width: 100%;
      margin-top: 10rem;
      padding-top: 1rem;
      padding-left: 2rem;
      background-color: black;
  }

  .containerbanner span {
    font-size: 0.77rem;
    font-weight: bold;
  }

  .containerbanner h1 {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.25rem;
  }

  .defaultnavcontainer {
    display: none;
  }

  /* ---- NAVIGATION ---- */
  .mobilenavcontainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  /* ---- PRODUCTS ---- */
  .containerproductitems {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .productitem {
    width: 90%;
  }

  .productitem.watch {
    display: none;
  }

  .productitem.glasses {
    display: none;
  }

  /* ---- LOCATION & OPENING SECTION ---- */
  .containerinfoitems {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .infoitem {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .headertext {
    margin-top: 0.25rem;
    background-color: black;
    padding: 1rem 2rem;
  }

  .blacktext {
    color: black;
  }

  /* ---- FOOTER SECTION ---- */
  .footercontainer {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
